@import './styles/a11y-font-scaling-patch.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  min-height: 100vh;
}
button {
  font-family: inherit;
}
input {
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
}